<!-- About Start -->
<div class="container-fluid" id="pigraAbout">
  <div class="container">
    <div class="row g-0">
      <div class="col-12 col-lg-3">
        <div class="about-header bg-dark h-100 pt-6 pe-6 pb-6">
          <div
            class="text-start d-flex flex-column justify-content-center wow fadeInUp"
            data-wow-delay="0.1s"
          >
            <p class="text-white sub-title">About Me</p>
            <h1 class="display-6 text-white mb-0">
              Full Stack Developer based in India. <br />since 2023
            </h1>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-9">
        <div class="about-content h-100 pt-6 ps-6 pb-6">
          <div class="row g-5">
            <div class="col-xl-5">
              <div
                class="about-img bg-light p-4 wow fadeInUp"
                data-wow-delay="0.1s"
              >
                <img
                  src="../../assets/img/profile-2.png    "
                  class="img-fluid w-100"
                  alt="Image"
                />
                <div class="sosial-icon">

                </div>
              </div>
            </div>
            <div class="col-xl-7 wow fadeInUp" data-wow-delay="0.3s">
              <h4 class="mb-4">Hello, I'm Mayur Bhojane, Based in India</h4>
              <p class="mb-4">
                Enthusiastic and driven software developer with a solid
                background in software engineering. Eager to secure an
                entry-level role where I can leverage my skills and expertise to
                thrive in a dynamic and fast-paced setting.
              </p>
              <div class="row g-4 mb-4">
                <div class="col-6">
                  <p>
                    <strong class="fw-bold text-dark">Phone :</strong> +91
                    9011773701
                  </p>
                  <p>
                    <strong class="fw-bold text-dark">skype :</strong>Mayur
                    Bhojane
                  </p>
                  <p class="mb-0">
                    <strong class="fw-bold text-dark">Address :</strong>
                    Vidhyanagar Bhor, India 412206
                  </p>
                </div>
                <div class="col-6">
                  <p>
                    <strong class="fw-bold text-dark">Nationality :</strong
                    >Indian
                  </p>
                  <p>
                    <strong class="fw-bold text-dark">Email :</strong
                    >mayurbhojane92&#64;gmail.com
                  </p>
                  <p class="mb-0">
                    <strong class="fw-bold text-dark">Freelancer :</strong>
                    Available
                  </p>
                </div>
              </div>
              <a
                href="../../assets/img/Mayur Bhojane Resume.pdf"
                target="_blank"
                class="btn btn-primary py-2 px-4"
              >
                <i class="fas fa-download me-2" download></i>Download My CV</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Education Start -->
<div class="container-fluid">
  <div class="container">
    <div class="row g-0">
      <div class="col-lg-3">
        <div class="education-header bg-dark h-100 pt-6 pe-6 pb-6">
          <div
            class="text-start d-flex flex-column justify-content-center wow fadeInUp"
            data-wow-delay="0.1s"
          >
            <p class="text-white sub-title">Education</p>
            <h1 class="display-6 text-white mb-0">
              My education qualification
            </h1>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="education-content h-100 pt-6 ps-6 pb-6">
          <div class="row g-4">
            <div class="col-12">
              <div
                class="education-item rounded p-4 h-100 wow fadeInUp"
                data-wow-delay="0.1s"
              >
                <div class="d-flex align-items-center mb-3">
                  <p class="fs-5 mb-0 me-4">Government Polytecnic Pune</p>
                  <div>
                    <span class="fa fa-calendar me-1"></span> 2017 - 2020
                  </div>
                </div>
                <h4 class="mb-3">Diploma in Computer</h4>
                <p class="mb-0">
                  I have successfully completed a Diploma in Computer
                  Engineering, a comprehensive program that covers key areas of
                  computer science, software development. This course has
                  provided me with a strong foundation in both the theoretical
                  and practical aspects of computing, including programming,
                  database management.
                </p>
              </div>
            </div>
            <div class="col-12">
              <div
                class="education-item rounded p-4 h-100 wow fadeInUp"
                data-wow-delay="0.3s"
              >
                <div class="d-flex align-items-center mb-3">
                  <p class="fs-5 mb-0 me-4">Savitibai Phule Pune University</p>
                  <div>
                    <span class="fa fa-calendar me-1"></span> 2020 - 2023
                  </div>
                </div>
                <h4 class="mb-3">Bachelors of Computer Engineering</h4>
                <p class="mb-0">
                  I hold a Bachelor's Degree in Computer Engineering, a
                  comprehensive four-year program that blends software
                  engineering, with a focus on designing, developing, and
                  maintaining computer systems. The program has equipped me with
                  a strong foundation in front end development, backend
                  development, database management, preparing me for a variety
                  of roles in the tech industry.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Education End -->

<!-- Experience Start -->
<div class="container-fluid">
  <div class="container">
    <div class="row g-0">
      <div class="col-lg-3">
        <div class="experience-header bg-dark h-100 pt-6 pe-6 pb-6">
          <div
            class="text-start d-flex flex-column justify-content-center wow fadeInUp"
            data-wow-delay="0.1s"
          >
            <p class="text-white sub-title">Experience</p>
            <h1 class="display-6 text-white mb-0">My real work experience</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="experience-content h-100 pt-6 ps-6 pb-6">
          <div class="row g-4">
            <div class="col-12">
              <div
                class="experience-item rounded p-4 h-100 wow fadeInUp"
                data-wow-delay="0.1s"
              >
                <div class="d-flex align-items-center mb-3">
                  <p class="fs-5 mb-0 me-4">TechnoGrowth Software Solutions</p>
                  <div>
                    <span class="fa fa-calendar me-1"></span> 2024 - present
                  </div>
                </div>
                <h4 class="mb-3">Software Developer</h4>
                <p class="mb-0">
                  Utilized HTML, CSS, JavaScript, Java, Angular to ensure a
                  smooth user experience. Troubleshoot and debugged issues,
                  improved website performance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Exparience End -->

<!-- Skills Start -->
<div class="container-fluid">
  <div class="container">
    <div class="row g-0">
      <div class="col-lg-3">
        <div class="skills-header h-100 bg-dark pt-6 pe-6 pb-6">
          <div
            class="text-start d-flex flex-column justify-content-center wow fadeInUp"
            data-wow-delay="0.1s"
          >
            <p class="text-white sub-title">Skills</p>
            <h1 class="display-6 text-white mb-0">My expertise skills</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="skills-content h-100 pt-6 ps-6 pb-6">
          <div class="row g-4">
            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
              <div
                class="skills-item text-center rounded p-4 h-100 wow fadeInUp"
                data-wow-delay="0.1s"
              >
                <div class="text-primary text-center mb-3">
                  <span
                    ><img
                      src="https://angular.io/assets/images/logos/angular/angular.svg"
                      alt="Angular Logo"
                      style="width: 48px; height: 48px"
                    />
                  </span>
                </div>
                <div class="counter-counting d-flex justify-content-center">
                  <h4 class="display-6" data-toggle="counter-up">90</h4>
                  <h4 class="display-6">%</h4>
                </div>
                <p class="mb-0">Angular</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
              <div
                class="skills-item text-center rounded p-4 h-100 wow fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="text-primary text-center mb-3">
                  <span
                    ><img
                      src="https://cdn.worldvectorlogo.com/logos/spring-3.svg"
                      alt="Spring Boot Icon"
                      style="width: 48px; height: 48px"
                    />
                  </span>
                </div>
                <div class="counter-counting d-flex justify-content-center">
                  <h4 class="display-6" data-toggle="counter-up">85</h4>
                  <h4 class="display-6">%</h4>
                </div>
                <p class="mb-0">Spring Boot</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
              <div
                class="skills-item text-center rounded p-4 h-100 wow fadeInUp"
                data-wow-delay="0.3s"
              >
                <div class="text-primary text-center mb-3">
                  <span
                    ><img
                      src="https://cdn.worldvectorlogo.com/logos/java-4.svg"
                      alt="Java Logo"
                      style="width: 48px; height: 48px"
                    />
                  </span>
                </div>
                <div class="counter-counting d-flex justify-content-center">
                  <h4 class="display-6" data-toggle="counter-up">87</h4>
                  <h4 class="display-6">%</h4>
                </div>
                <p class="mb-0">Java</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
              <div
                class="skills-item text-center rounded p-4 h-100 wow fadeInUp"
                data-wow-delay="0.1s"
              >
                <div class="text-primary text-center mb-3">
                  <span
                    ><img
                      src="https://cdn.worldvectorlogo.com/logos/javascript-1.svg"
                      alt="JavaScript Logo"
                      style="width: 48px; height: 48px"
                    />
                  </span>
                </div>
                <div class="counter-counting d-flex justify-content-center">
                  <h4 class="display-6" data-toggle="counter-up">90</h4>
                  <h4 class="display-6">%</h4>
                </div>
                <p class="mb-0">JavaScript</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
              <div
                class="skills-item text-center rounded p-4 h-100 wow fadeInUp"
                data-wow-delay="0.3s"
              >
                <div class="text-primary text-center mb-3">
                  <span
                    ><img
                      src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg"
                      alt="HTML Logo"
                      style="width: 48px; height: 48px"
                    />
                  </span>
                </div>
                <div class="counter-counting d-flex justify-content-center">
                  <h4 class="display-6" data-toggle="counter-up">98</h4>
                  <h4 class="display-6">%</h4>
                </div>
                <p class="mb-0">HTML & CSS</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
              <div
                class="skills-item text-center rounded p-4 h-100 wow fadeInUp"
                data-wow-delay="0.3s"
              >
                <div class="text-primary text-center mb-3">
                  <span
                    ><img
                      src="https://www.mysql.com/common/logos/logo-mysql-170x115.png"
                      alt="MySQL Logo"
                      style="width: 48px; height: 48px"
                    />
                  </span>
                </div>
                <div class="counter-counting d-flex justify-content-center">
                  <h4 class="display-6" data-toggle="counter-up">94</h4>
                  <h4 class="display-6">%</h4>
                </div>
                <p class="mb-0">MySQL</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
              <div
                class="skills-item text-center rounded p-4 h-100 wow fadeInUp"
                data-wow-delay="0.3s"
              >
                <div class="text-primary text-center mb-3">
                  <span
                    ><img
                      src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Git-logo.svg"
                      alt="Git Logo"
                      style="width: 48px; height: 48px"
                    />
                  </span>
                </div>
                <div class="counter-counting d-flex justify-content-center">
                  <h4 class="display-6" data-toggle="counter-up">85</h4>
                  <h4 class="display-6">%</h4>
                </div>
                <p class="mb-0">Git</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
              <div
                class="skills-item text-center rounded p-4 h-100 wow fadeInUp"
                data-wow-delay="0.3s"
              >
                <div class="text-primary text-center mb-3">
                  <span
                    ><img
                      src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                      alt="GitHub Logo"
                      style="width: 48px; height: 48px"
                    />
                  </span>
                </div>
                <div class="counter-counting d-flex justify-content-center">
                  <h4 class="display-6" data-toggle="counter-up">89</h4>
                  <h4 class="display-6">%</h4>
                </div>
                <p class="mb-0">Github</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Skills End -->

<!-- Service Start -->
<div class="container-fluid" id="pigraService">
  <div class="container">
    <div class="row g-0">
      <div class="col-lg-3">
        <div class="service-header h-100 bg-dark pt-6 pe-6 pb-6">
          <div
            class="text-start d-flex flex-column justify-content-center wow fadeInUp"
            data-wow-delay="0.1s"
          >
            <p class="text-white sub-title">My Services</p>
            <h1 class="display-6 text-white mb-0">What I do for you</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="service-content h-100 pt-6 ps-6 pb-6">
          <div class="row g-4">
            <div class="col-12">
              <div class="service-item p-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4 align-items-center">
                  <div class="col-xl-2">
                    <i class="fas fa-desktop fa-3x"></i>
                  </div>
                  <div class="col-xl-3">
                    <a href="#" class="h4 mb-0">Front End Development</a>
                  </div>
                  <div class="col-xl-4">
                    <p class="mb-0">
                      Front end development involves creating the visual aspects
                      of a website or application that users interact with
                      directly.
                    </p>
                  </div>
                  <div class="col-xl-3">
                    <p><i class="fa fa-check me-2"></i>ResponsiveDesign</p>
                    <p><i class="fa fa-check me-2"></i>UI and UX</p>
                    <p class="mb-0">
                      <i class="fa fa-check me-2"></i>Frameworks
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="service-item p-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row g-4 align-items-center">
                  <div class="col-xl-2">
                    <i class="fas fa-laptop-code fa-3x"></i>
                  </div>
                  <div class="col-xl-3">
                    <a href="#" class="h4 mb-0">Back end Development</a>
                  </div>
                  <div class="col-xl-4">
                    <p class="mb-0">
                      Back end development deals with the server side
                      applications. It involves creating the logic, database
                      interactions needed to deliver data to the front end.
                    </p>
                  </div>
                  <div class="col-xl-3">
                    <p><i class="fa fa-check me-2"></i>Server-Side Logic</p>
                    <p><i class="fa fa-check me-2"></i>Database</p>
                    <p class="mb-0">
                      <i class="fa fa-check me-2"></i>API Development
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="service-item p-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-4 align-items-center">
                  <div class="col-xl-2">
                    <i class="fas fa-database fa-3x"></i>
                  </div>
                  <div class="col-xl-3">
                    <a href="#" class="h4 mb-0">Database</a>
                  </div>
                  <div class="col-xl-4">
                    <p class="mb-0">
                      Database management involves designing, implementing, and
                      maintaining databases to store and retrieve data
                      efficiently.
                    </p>
                  </div>
                  <div class="col-xl-3">
                    <p><i class="fa fa-check me-2"></i>Data Modeling</p>
                    <p><i class="fa fa-check me-2"></i>Data Security</p>
                    <p class="mb-0">
                      <i class="fa fa-check me-2"></i>Data Recovery
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Portfolio Start -->
<div class="container-fluid">
  <div class="container">
    <div class="row g-0">
      <div class="col-lg-3">
        <div class="portfolio-header h-100 bg-dark pt-6 pe-6 pb-6">
          <div
            class="text-start d-flex flex-column justify-content-center wow fadeInUp"
            data-wow-delay="0.1s"
          >
            <p class="text-white sub-title">Portfolio</p>
            <h1 class="display-6 text-white mb-0">My Recent Works</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="portfolio-content h-100 pt-6 ps-6 pb-6">
          <div
            class="portfolio-item py-5 border-bottom wow fadeInUp"
            data-wow-delay="0.1s"
          >
            <div class="row g-4 align-items-center">
              <div class="col-xl-6">
                <h4 class="text-body">Web Development</h4>
                <h1 class="display-6 mb-0">Parikrama College</h1>
              </div>
              <div class="col-9 col-xl-4">
                <div class="portfolio-img">
                  <div class="portfolio-img-inner">
                    <img
                      src="../../assets/img/parikrama.jpeg"
                      class="img-fluid"
                      alt="Image"
                    />
                  </div>
                </div>
              </div>
              <div class="col-3 col-xl-2">
                <div class="view-img">
                  <a
                    href="https://webwowpreview.com/parikarama/"
                    target="_blank"
                    class="btn btn-primary btn-lg-square"
                    ><i class="fas fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="portfolio-item py-5 border-bottom wow fadeInUp"
            data-wow-delay="0.3s"
          >
            <div class="row g-4 align-items-center">
              <div class="col-xl-6">
                <h4 class="text-body">Web Development</h4>
                <h1 class="display-6 mb-0">Digi Prescription</h1>
              </div>
              <div class="col-9 col-xl-4">
                <div class="portfolio-img">
                  <div class="portfolio-img-inner">
                    <img
                      src="../../assets/img/digi-prescription.jpg"
                      class="img-fluid"
                      alt="Image"
                    />
                  </div>
                </div>
              </div>
              <div class="col-3 col-xl-2">
                <div class="view-img">
                  <a
                    href="https://github.com/mayurbhojane37/Digi-Prescription"
                    target="_blank"
                    class="btn btn-primary btn-lg-square"
                    ><i class="fas fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="portfolio-item py-5 wow fadeInUp" data-wow-delay="0.5s">
            <div class="row g-4 align-items-center">
              <div class="col-xl-6">
                <h4 class="text-body">App Development</h4>
                <h1 class="display-6 mb-0">Smart Lecture App</h1>
              </div>
              <div class="col-9 col-xl-4">
                <div class="portfolio-img">
                  <div class="portfolio-img-inner">
                    <img
                      src="../../assets/img/smart-lecture-app.jpg"
                      class="img-fluid"
                      alt="Image"
                    />
                  </div>
                </div>
              </div>
              <div class="col-3 col-xl-2">
                <div class="view-img">
                  <a
                    href="https://github.com/mayurbhojane37/Smart-Lecture-App"
                    class="btn btn-primary btn-lg-square"
                    data-lightbox="portfolio-3"
                    ><i class="fas fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio End -->



<!-- Contact Start -->
<div class="container-fluid" id="pigraContact">
  <div class="container">
    <div class="row g-0">
      <div class="col-lg-3">
        <div class="contact-header h-100 bg-dark pt-6 pe-6 pb-6">
          <div
            class="text-start d-flex flex-column justify-content-center wow fadeInUp"
            data-wow-delay="0.1s"
          >
            <p class="text-white sub-title">Contact Me</p>
            <h1 class="display-6 text-white mb-0">Let’s Start A New Project</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="contact-content h-100 pt-6 ps-6 pb-6">
          <div class="bg-light p-4">
            <div class="row g-5">
              <div class="col-xl-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex mb-4">
                  <div class="btn-xl-square bg-primary text-white me-3">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div>
                    <h4>Address</h4>
                    <p class="mb-0">890 Vidhyanagar Bhor</p>
                  </div>
                </div>
                <div class="d-flex mb-4">
                  <div class="btn-xl-square bg-primary text-white me-3">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div>
                    <h4>Mail Us</h4>
                    <p class="mb-0">mayurbhojane92&#64;gmail.com</p>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="btn-xl-square bg-primary text-white me-3">
                    <i class="fa fa-phone-alt"></i>
                  </div>
                  <div>
                    <h4>Mobile</h4>
                    <p class="mb-0">+91 9011773701</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-7 wow fadeInUp" data-wow-delay="0.3s">
                <div>
                  <form>
                    <div class="row g-3">
                      <div class="col-lg-12 col-xl-6">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0"
                            id="name"
                            placeholder="Your Name"
                          />
                          <label for="name">Your Name</label>
                        </div>
                      </div>
                      <div class="col-lg-12 col-xl-6">
                        <div class="form-floating">
                          <input
                            type="email"
                            class="form-control border-0"
                            id="email"
                            placeholder="Your Email"
                          />
                          <label for="email">Your Email</label>
                        </div>
                      </div>
                      <div class="col-lg-12 col-xl-6">
                        <div class="form-floating">
                          <input
                            type="phone"
                            class="form-control border-0"
                            id="phone"
                            placeholder="Phone"
                          />
                          <label for="phone">Your Phone</label>
                        </div>
                      </div>
                      <div class="col-lg-12 col-xl-6">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0"
                            id="project"
                            placeholder="Project"
                          />
                          <label for="project">Your Project</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating">
                          <input
                            type="text"
                            class="form-control border-0"
                            id="subject"
                            placeholder="Subject"
                          />
                          <label for="subject">Subject</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating">
                          <textarea
                            class="form-control border-0"
                            placeholder="Leave a message here"
                            id="message"
                            style="height: 120px"
                          ></textarea>
                          <label for="message">Message</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary w-100 py-3">
                          Send Message
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="rounded">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15165.719522209034!2d73.83502348600103!3d18.144100566922607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc28ad26496e4b9%3A0xb314373f03b6bc9f!2sBhor%2C%20Maharashtra%20412206!5e0!3m2!1sen!2sin!4v1729181222652!5m2!1sen!2sin" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
